{
  "targets": {
    "ie": "11",
    "node": "12",
    "esmodules": false
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
        /*
          "corejs": 3,
        "useBuiltIns": "usage",
        */
      }
    ]
  ]
}